/************** 글꼴 **************/
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*********************************/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#wrap{
    width: 1920px;
    height:4000px;
    margin: 0 auto;
    overflow:hidden;
    font-family: 'GangwonEdu_OTFBoldA';
}

/************ main *************/

.image{
    position:absolute;
    margin: 0 auto;
    width:1920px;
    height:1080px;
    background-image:url(./images/home.png);
    background-repeat:no-repeat;
    background-size:cover;
}
/* 메뉴바 */
#menu-ber{
    position: fixed;
    z-index: 1;
    width:100%;
    height:70px;
    background-color:rgba(200, 199, 199, 0.16);
}
#menu-ber > span{
    position: relative;
    top: 23px;
    left: 20px;
    font-size:18px;
    letter-spacing:2px;
    color: rgb(0, 28, 48);
}
#menu-ber > ul > li{
    position: relative;
    left: 450px;
    top: -5px;
    margin-left: 70px;
    float: left;
    font-size:25px;
    list-style: none;
    letter-spacing:5px;
}
ul > li > a{
    color: rgb(0, 28, 48);
    text-decoration: none;
}
ul > li > a:hover{
    opacity: 0.5;
}


/* title */
.image > span{
    display: block;
    position: relative;
    top: 250px;
    color: white;
    text-align: center;
}
nav + span{
    font-size: 40px;
    letter-spacing: 40px;
    animation: move 2.2s ease-in-out;
}
.developer{
    display: inline-block;
    margin-top: 25px;
    font-size: 200px;
    letter-spacing: 40px;
    animation: move 2.5s ease-in-out;
}
/* 타이틀 애니메이션 */

@keyframes move {
    0% {
        transform: translateY(400px);
        opacity: 0;
        letter-spacing: 120px;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        letter-spacing:40px;
    }
}

/************ about *************/

#about{
    position:absolute;
    margin: 0 auto;
    top:1080px;
    width:1920px;
    height:927px;
    background-color: rgb(218, 255, 251);
}
/* 제목 */
#about > span{
    position:absolute;
    left:600px;
    top:130px;
    text-align:center;
    font-size:45px;
    letter-spacing:5px;
    color: rgb(23, 107, 135);
}
/* 내 이미지*/
.my-image{
    width:250px;
    height:280px;
    position:absolute;
    left:645px;
    top:200px;
    border-radius: 15px;
    background-image:url(./images/myimage.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.reason{
    position:absolute;
    left:960px;
    top:180px;
    width:335px;
    height: 165px;
    border-radius: 3px;
    background-color: rgb(100, 204, 197);
}
.reason > span{
    display: block;
    padding-left: 28px;
    margin-top: 6px;
    box-sizing: border-box;
    text-align:left;
    font-weight: bold;
    font-size:17px;
    color:  rgb(23, 107, 135);
}
.reason > span:nth-child(2){
    position: relative;
    bottom: 17px;
    left: 99px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.reason > span:last-child{
    position: relative;
    bottom: 26px;
    left: 225px;
    margin: 0;
    padding: 0;
}
.profile{
    width:290px;
    height:100px;
    position:absolute;
    left:980px;
    top:385px;
}
.profile li{
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size:17px;
    list-style-image: url("./images/icons8-love-16.png");
    color: rgb(23, 107, 135);
}
.keyword{
    width:650px;
    position:absolute;
    left:632px;
    top:585px;
}
.keyword li{
    float: left;
    margin-left: 35px;
    list-style: none;
    font-size:25px;
    font-weight: bold;
    color: rgb(100, 204, 197);
    letter-spacing: 3px;
}
.motto{
    position:absolute;
    top:630px;
    left:630px;
    width:690px;
    height:50px;
    border-radius: 35px;
    background-color: rgb(100, 204, 197);
}
.motto > span{
    display: inline-block;
    margin-left: 45px;
    margin-top: 12px;
    color: rgb(23, 107, 135);
    font-weight: bold;

}
.motto > span:first-child{
    font-size: 25px;
    letter-spacing: 3px;
}
.motto > span:nth-child(2){
    position: relative;
    bottom: 2px;
    font-size: 21px;
    letter-spacing: 1px;
}

/************ skills-certificate *************/

#skills-certificate{
    position:absolute;
    margin: 0 auto;
    top:2007px;
    width:1920px;
    height:900px;
    background-color: rgb(218, 255, 251);
}

/* skills part  */
.skill-title{
    position:absolute;
    left:450px;
    top:135px;
    font-size:45px;
    letter-spacing:5px;
    color: rgb(23, 107, 135);
}
.skills{
    position: absolute;
    left: 450px;
    top: 190px;
    width: 1000px;
    height: 180px;
}
.skills > ul > li{
    list-style: none;
    color: rgb(23, 107, 135);
    letter-spacing: 2px;
}
.skills > ul > li > img{
    width: 98px;
    height: 98px;
    margin-left: 20px;
    float: left;
}

/* 프론트 */
.front{
    margin-top: 25px;
    margin-left: 30px;
}
.front > li:first-child{
    position: relative;
    bottom: 10px;
    left: 142px;
}
/* 백엔드 */
.back-end{
    position: relative;
    left: 40px;
    bottom: 40px;
}
.back-end > li:first-child{
    position: relative;
    bottom: 10px;
    left: 160px;
}
.back-end > li:last-child img{
    position: relative;
    bottom: 42px;
    right: 41px;
    width: 180px;
    height: 180px;
}
/* 스프링부트 동그라미 */
.back-end > div{
    position: absolute;
    top: 22px;
    left: 671px;
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background-color: white;
}
/* db */
.db{
    position: relative;
    bottom: 54px;
}
.db > li:first-child{
    position: relative;
    bottom: 35px;
    left: 56px;
}
.db > li:nth-child(2){
    position: relative;
    bottom: 26px;
}

/* 라인 */
.skills + div{
    position: absolute;
    top: 360px;
    left: 480px;
    width: 1000px;
    height: 3px;
    background-color: rgb(23, 107, 135);
}

/* certificate part */

.other-title{
    position:absolute;
    left:450px;
    top:500px;
    font-size:45px;
    letter-spacing:5px;
    color: rgb(23, 107, 135);
}

.certificate{
    position: absolute;
    top: 600px;
    left: 420px;
    width: 1000px;
    height: 80px;
}

.certificate > ul{
    position: relative;
    top: 20px;
    left: 50px;
}

.certificate > ul > li{
    float: left;
    margin-left: 42px;
    font-size: 24px;
    color: rgb(23, 107, 135);
    list-style-image: url("./images/icons8-love-16.png");
    letter-spacing:3px;
}

/* 라인 */
.certificate + div{
    position: absolute;
    top: 680px;
    left: 480px;
    width: 1000px;
    height: 3px;
    background-color: rgb(23, 107, 135);
}

/************ portfolio *************/

#portfolio{
    position:absolute;
    margin: 0 auto;
    top:2900px;
    width:1920px;
    height:800px;
    background-color: rgb(218, 255, 251);
}

#portfolio > span{
    position:absolute;
    left:850px;
    top:120px;
    font-size:40px;
    letter-spacing:5px;
    color: rgb(23, 107, 135);
}

/* 캐러셀 */

#carouselExampleDark{
    position: absolute;
    left: 450px;
    top:180px;
    width: 1000px;
    height: 500px;
}

#carouselExampleDark a{
    text-decoration: none;
    color: black;
}

/************ footer *************/
#footer{
    margin: 0 auto;
    position:absolute;
    top:2900px;
    width:1920px;
    height:300px;
}

/* 상단 */
#footer > div:first-child{
    position: relative;
    top: 800px;
    height: 200px;
    text-align: center;
    background-color: rgb(218, 255, 251);
}

#footer > div:first-child > span{
    display: block;
    margin-bottom: 100px;
}
#footer > div:first-child > span:first-child{
    font-size: 25px;
    color: rgb(23, 107, 135)
}

#footer > div:first-child > span:nth-child(2) > a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(23, 107, 135);
}



/* 하단 */
#footer > div:last-child{
    position: relative;
    top: 800px;
    height: 100px;
    text-align: center;
    background-color: rgb(100, 204, 197);
}
#footer > div:last-child > small{
    position: relative;
    top: 15px;
    display: block;
    padding-top: 8px;
    box-sizing: border-box;
}









